<!DOCTYPE html>
<html lang="en">

<head>

    <header>
        <%- include("../partials/head") %>
            <link rel="stylesheet" href="/css/productDetail.css">
    </header>
</head>

<body>
    <%- include("../partials/header") %>

        <main class="main">

            <div class="banner-escalada">
                <section class="titulo-general">
                </section>

                <section class="titulo-h1">
                    <h1>Deportes</h1>
                </section>
            </div>

            <section class="container-product">


                <div class="container-img-producto">

                    <!----<i class="iconoIZQ" class="fa-solid-fa-caret-left"></i>*/--->
                    <!----<div class="etiqueta-actividad">
                        <p>Escalada</p>
                    </div>--->
                    <img src="/images/productos/escalada.JPG" alt="gimArt" class="img-producto">
                    <div class="boton"> <button class="reserva">Reservá tu lugar</button></div>

                    <!---<i class="iconoDER" class="fa-solid fa-caret-right"></i>--->

                </div>

                <section class="texto-producto">


                    <h3 class="texto-actividad" id="nombreActividad">Escalada en boulder</h3>

                    <p class="texto-actividad">Ignacio Bustamante</p>

                    <p class="texto-actividad">Dificultad</p>

                    <div class="texto-actividad"><i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></i>
                        <i class="fa-regular fa-star"></i>
                    </div>

                    <div class="seccion-texto">
                        <p class="texto-actividad">Disponibilidad</p>
                        <h3>12</h3>
                    </div>


                    <div class="seccion-texto">
                        <p class="texto-actividad">Inscriptos</p>
                        <h3>18</h3>
                    </div>

                    <div class="seccion-texto">
                        <p class="texto-actividad">Valor</p>
                        <h3>$2.500</h3>
                    </div>

                    <div class="descripcion-actividad">
                        <p>Descripción:</p>
                        <p>Si tenes ganas de vivir una nueva experiencia, llevando al máximo tu crecimiento, ésta es la
                            clase que estás buscando.</p>
                    </div>

                    <!---<div class="leermas">
                <button>
                <p>Leer más</p>
                </button>
                </div>--->
                </section>

            </section>



            <section class="busquedasRelacionadas">

                <h6 class="busquedasRelacionadasH6">Búsquedas relacionadas</h6>
                </br>
                <!---<div><i class="fa-solid fa-caret-left"></i></div>--->
                <div class="container-busquedas">
                    <div class="clase-relacionada">
                        <img src="/images/productos/functional.JPG" alt="functional" class="img-relacionada">
                        <h5>Functional</h5>
                        <p>
                            Mantenete entrenado con nuestras clases
                        </p>

                    </div>
                    <div class="clase-relacionada">
                        <img src="/images/yoga1.JPG" alt="yoga1" class="img-relacionada">
                        <h5>Yoga a aire libre</h5>
                        <p>
                            Viví el yoga con la naturaleza
                        </p>

                    </div>
                    <div class="clase-relacionada">
                        <img src="/images/productos/gimnasio.JPG" alt="gimnasio" class="img-relacionada">
                        <h5>Gimnasio Indoor</h5>
                        <p>
                            Entrenamiento adaptado a todos los niveles
                        </p>

                    </div>
                    <!---<div><i class="fa-solid fa-caret-right"></i></div>--->
                </div>
            </section>


            </br>

            <section class="banner-promocional">
                <div class="texto-banner">
                    <h2 class="descuento">20% OFF</h2>
                    <h3>en tu primera compra</h3>
                    <p>hacé click aquí para obtener el cupón de descuento</p>
                    <div class="animacion-regalo"><i class="fa-solid fa-gift fa-2xl" style="color: #199eb3;"></i></div>
                </div>
                <img src="/images/diseno/editworkouteasy2-b.png" class="imagenbanner">
            </section>

        </main>
        <%- include("../partials/footer") %>
            <button class="consultas">
                <i class="fa-regular fa-circle-question fa-lg" style="color: #ffffff;"></i>
                Consultas</button>
</body>

</html>