<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
        <link rel="stylesheet" href="/css/productList.css">
    </head>
<body>
    <%- include("../partials/header") %>
<main>
    <section class="titulo-general">
        <h1>CLASES</h1>
        <h3>Armá tu calendario para lograr tus objetivos</h3>
    </section>
    
    
    <section class="nav-filtros">
        <select>
            <option>Todos</option>
            <option>Yoga</option>
            <option>Fitness</option>
            <option>Montañismo</option>
            <option>Baile</option>
            <option>Football</option>
            <option>Tennis</option>
        </select>

    </section>

    <section class="nav-filtros2">
        <select class="select2">
            <option>Yoga</option>
            <option>Kundalini</option>
            <option>Flex</option>
            <option>Flow</option>
            <option>Hatha</option>
            <option>Ashtanga</option>
        </select>

        <select class="select2">
            <option>Fitness</option>
            <option>Functional</option>
            <option>Gimnasio</option>
            <option>Trainning</option>
        </select>

        <select class="select2">
            <option>Montaña</option>
            <option>Escalada</option>
            <option>Gimnasio</option>
            <option>Trekking</option>
        </select>

        <select class="select2">
            <option>Football</option>
            <option>Fúbol 5</option>
            <option>Fútbol 11</option>
        </select>

        <select class="select2">
            <option>Tennis</option>
            <option>Paddel</option>
        </select>

        <select class="select2">
            <option>Baile</option>
            <option>Urbano</option>
            <option>Ballet</option>
            <option>Contemporáneo</option>
        </select>

    </section>

    <div class="container-grid">

    <section class="side-bar">

        <div class="radio-dificultad">
        <h3>Dificultad</h3>
        <div><input type="radio" name="dificultadradio" value="principiante">Principiante</input>
        <i class="fa-solid fa-star"></i></div>
        <div><input type="radio" name="dificultadradio" value="fácil">Fácil</input>
        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
        <div><input type="radio" name="dificultadradio" value="intermedio">Intermedio</input>
        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
        <div><input type="radio" name="dificultadradio" value="difícil">Difícil</input>
        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
        <div><input type="radio" name="dificultadradio" value="avanzado">Avanzado</input>
        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
    </div>

        <div class="radio-edad">
        <h3>Edad</h3>
        <div><input type="radio" name="edadradio" value="niños">Niños</input>
        <span class="checkmark"></span></div>
        <div><input type="radio" name="edadradio" value="adolescentes">Adolescentes</input>
        <span class="checkmark"></span></div>
        <div><input type="radio" name="edadradio" value="jóvenes">Jovenes</input>
        <span class="checkmark"></span></div>
        <div><input type="radio" name="edadradio" value="adultos">Adultos</input>
        <span class="checkmark"></span></div>
        </div>
        
    </section>

    <section class="productos-display">

        <section class="fitness">

            <div class="titulo-fitness">
            <h3>FITNESS</h3>
            <button><p>ver todo</p></button>
            </div>

            <div class="actividades-fitness">

            <article class="actividad-ejemplo">

                <div class="foto">
                <div class="etiqueta-actividad"><p>Fitness</p></div>
                <img src="/images2/boxeo1.jpg" alt="claseFitness">
                </div>

                <h3 class="texto-actividad">Boxeo fit</h3>
                <p class="texto-actividad">Hernán González</p>
                <p class="texto-actividad">Dificultad</p>
                <div class="texto-actividad"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></i><i class="fa-regular fa-star"></i></div>

                <div class="seccion-texto"><p class="texto-actividad">Disponibilidad</p><h3>30</h3></div>
                <div class="seccion-texto"><p class="texto-actividad">Inscriptos</p><h3>4</h3></div>
                <div class="seccion-texto"><p class="texto-actividad">Valor</p><h3>$2.500</h3></div>

                <div class="descripcion-actividad">
                    <p>Descripción:</p>
                    <p>Vení con todas las pilas a una clase que desafía tanto tu mente como tu resistencia física.</p>
                </div>
                <div class="leermas">
                    <button><p>Leer más</p></button>
                </div>

            </article>

            <article class="actividad-ejemplo">

                <div class="foto">
                <div class="etiqueta-actividad"><p>Fitness</p></div>
                <img src="/images2/entrenador-gym.jpg" alt="claseFitness">
                </div>

                <h3 class="texto-actividad">Pesas</h3>
                <p class="texto-actividad">Francisco Carusso</p>
                <p class="texto-actividad">Dificultad</p>
                <div class="texto-actividad"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></i><i class="fa-regular fa-star"></i></i><i class="fa-regular fa-star"></i></div>

                <div class="seccion-texto"><p class="texto-actividad">Disponibilidad</p><h3>30</h3></div>
                <div class="seccion-texto"><p class="texto-actividad">Inscriptos</p><h3>4</h3></div>
                <div class="seccion-texto"><p class="texto-actividad">Valor</p><h3>$2.500</h3></div>

                <div class="descripcion-actividad">
                    <p>Descripción:</p>
                    <p>Entrená con pesas y máquinas. Armá una rutina sostenible.</p>
                </div>
                <div class="leermas">
                    <button><p>Leer más</p></button>
                </div>
            </article>

            </div>

        </section>

        <section class="yoga">

            <div class="titulo-fitness">
                <h3 >YOGA</h3>
                <p>ver todo</p>
            </div>

            <div class="actividades-fitness">

                <article class="actividad-ejemplo">
                    
                    <div class="foto">
                    <div class="etiqueta-actividad"><p>Yoga</p></div>
                    <img src="/images2/yoga3.jpg" alt="claseYoga">
                    </div>
    
                    <h3 class="texto-actividad">Yoga flex</h3>
                    <p class="texto-actividad">Jacinta Mayol</p>
                    <p class="texto-actividad">Dificultad</p> 
                    <div class="texto-actividad"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></i><i class="fa-regular fa-star"></i></div>
    
                    <div class="seccion-texto"><p class="texto-actividad">Disponibilidad</p><h3>40</h3></div>
                    <div class="seccion-texto"><p class="texto-actividad">Inscriptos</p><h3>20</h3></div>
                    <div class="seccion-texto"><p class="texto-actividad">Valor</p><h3>$8.500</h3></div>
    
                    <div class="descripcion-actividad">
                        <p>Descripción:</p>
                        <p>Creá tu propia rutina de Yoga que se adapte a tu cuerpo y modo de vida. Ideal para practicar en viajes o en tu día para cortar.</p>
                    </div>
                    <div class="leermas">
                        <button><p>Leer más</p></button>
                    </div>
    
                </article>
    
                <article class="actividad-ejemplo">
                    
                    <div class="foto">
                    <div class="etiqueta-actividad"><p>Yoga</p></div>
                    <img src="/images2/yoga1.jpg" alt="claseYoga">
                    </div>
    
                    <h3 class="texto-actividad">Yoga al aire libre</h3>
                    <p class="texto-actividad">Mayra Bilo</p>
                    <p class="texto-actividad">Dificultad</p>
                    <div class="texto-actividad"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></i><i class="fa-regular fa-star"></i></i><i class="fa-regular fa-star"></i></div>
    
                    <div class="seccion-texto"><p class="texto-actividad">Disponibilidad</p><h3>20</h3></div>
                    <div class="seccion-texto"><p class="texto-actividad">Inscriptos</p><h3>10</h3></div>
                    <div class="seccion-texto"><p class="texto-actividad">Valor</p><h3>$6.500</h3></div>
    
                    <div class="descripcion-actividad">
                        <p>Descripción:</p>
                        <p>Cambiá tu forma de practicar yoga y conectate con tu cuerpo y grupo.</p>
                    </div>
                    <div class="leermas">
                        <button><p>Leer más</p></button>
                    </div>
                </article>
    
                </div>
    
        </section>

        <section class="montañismo">

            <div class="titulo-fitness">
                <h3>MONTAÑISMO</h3>
                <p>ver todo</p>
            </div>

            <div class="actividades-fitness">

                <article class="actividad-ejemplo">
                    
                    <div class="foto">
                    <div class="etiqueta-actividad"><p>Montaña</p></div>
                    <img src="/images2/escalada1.jpg" alt="claseEscalada">
                    </div>
    
                    <h3 class="texto-actividad">Escalada</h3>
                    <p class="texto-actividad">Francisca Altube</p>
                    <p class="texto-actividad">Dificultad</p> 
                    <div class="texto-actividad"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></i><i class="fa-solid fa-star"></i></div>
    
                    <div class="seccion-texto"><p class="texto-actividad">Disponibilidad</p><h3>3</h3></div>
                    <div class="seccion-texto"><p class="texto-actividad">Inscriptos</p><h3>6</h3></div>
                    <div class="seccion-texto"><p class="texto-actividad">Valor</p><h3>$10.500</h3></div>
    
                    <div class="descripcion-actividad">
                        <p>Descripción:</p>
                        <p>Aprendé toda la técnica desde 0 para poder escalar en cualquier entorno y vía.</p>
                    </div>
                    <div class="leermas">
                        <button><p>Leer más</p></button>
                    </div>
    
                </article>
    
                <article class="actividad-ejemplo">
                    
                    <div class="foto">
                    <div class="etiqueta-actividad"><p>Montaña</p></div>
                    <img src="/images2/functional1.jpg" alt="claseFunctional">
                    </div>
    
                    <h3 class="texto-actividad">Functional</h3>
                    <p class="texto-actividad">Mayra Bilo</p>
                    <p class="texto-actividad">Dificultad</p>
                    <div class="texto-actividad"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></i><i class="fa-regular fa-star"></i></i><i class="fa-regular fa-star"></i></div>
    
                    <div class="seccion-texto"><p class="texto-actividad">Disponibilidad</p><h3>10</h3></div>
                    <div class="seccion-texto"><p class="texto-actividad">Inscriptos</p><h3>10</h3></div>
                    <div class="seccion-texto"><p class="texto-actividad">Valor</p><h3>$6.500</h3></div>
    
                    <div class="descripcion-actividad">
                        <p>Descripción:</p>
                        <p>Entrená para desafiarte en las picadas de montaña. Viajes a la Patagonia grupales.</p>
                    </div>
                    <div class="leermas">
                        <button><p>Leer más</p></button>
                    </div>
                </article>
    
                </div>

        </section>

    </section>

    </div>

</main>

<%- include("../partials/footer") %>
    <button class="consultas">
        <i class="fa-regular fa-circle-question fa-lg" style="color: #ffffff;"></i>
        Consultas</button>

</body>
</html>