<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <link rel="stylesheet" href="/css/profileServices.css">
</head>

<body>
    <%- include("../partials/header") %>
        <main>
            <section class="container1">
                <img src="/images/entrenadora-functional.jpg" alt="imagenEntrenadora">

                <div class="profail-part1">
                    <h1>María Arias Lopera</h1>
                    <h3>Mente y Cuerpo</h3>
                    <div class="ranking-content">
                        <p>5.0</p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p>10 reseñas</p>
                    </div>
                </div>
                <ul class="profile-list-item">
                    <li>
                        <i class="fa-solid fa-id-card-clip"></i>
                        <p>Perfil profesional María Árias</p>
                    </li>
                    <li>
                        <i class="fa-solid fa-briefcase"></i>
                        <p>Servicios y clases de Mária Árias</p>
                    </li>
                    <li>
                        <i class="fa-solid fa-images"></i>
                        <p>Galería de proyectos</p>
                    </li>

                    <li>
                        <i class="fa-solid fa-star"></i>
                        <p>Reseñas y comentarios</p>
                    </li>
                </ul>

                <input id="publica una nueva clase +" type="submit" value="Publica una nueva clase +">

            </section>

            </section>
            <section class="container2">
                <div class="profile-header">
                    <h1>Sobre María Arias</h1>
                </div>
                <div class="profile__description">
                    <p> Profesional certificada en actividad física, con experiencia de 15 años en los más reconocidos
                        centros de acondicionamiento físico y en Entidades públicas del país. Mi interés es apoyar
                        procesos serios de acondicionamiento físico, en personas que deseen generar un estilo de vida
                        que les permita tener bienestar y salud, sin importar su condición física actual, su sexo o
                        edad. </p>
                </div>
                <div class="titulos">
                    <h2>Mis Servicios</h2>
                </div>
                <br>
                <div class="services">
                    <div class="services-description">
                        <img src="/images/functional.JPG" alt="imagenEntrenadora1">
                        <p>Actividad Física</p>
                        <h3>Entrenamiento Físico Personalizado</h3>
                        <br>
                        <p>Dificultad: <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i
                                class="fa-regular fa-star"></i></p>
                        <br>
                        <div class="descripcionClases">
                            <p>Un entrenamiento personal es una de las mejores inversiones que harás en tu salud
                                y bienestar. Te ayuda a alcanzar tus metas mucho más rápido y aprender a hacer tus ejercicios de forma segura.</p>
                            <br>
                            <p class="boton-ver-más">Leer más</p>
                        </div>

                        <p>Presencial y Virtual</p>
                        <input id="cotizar" type="submit" value="Cotizar">
                    </div>

                    <div class="services-description">
                        <img src="/images/stretching.jpg" alt="stretching">
                        <br>
                        <p>Actividad Física</p>
                        <h3>Stretching</h3>
                        <br>
                        <p>Dificultad: <i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i
                                class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i
                                class="fa-regular fa-star"></i></p>
                        <br>
                        <div class="descripcionClases">
                            <p>Empieza con una rutina de diferentes ejercicios derivados del yoga, de la gimnasia
                                tradicional y de
                                la danza clásica. Son movimientos suaves que, con el tiempo, mejoran</p>
                            <br>
                            <p class="boton-ver-más">Leer más</p>
                        </div>

                        <p>Presencial y Virtual</p>
                        <input id="cotizar" type="submit" value="Cotizar">
                    </div>

                    <div class="services-description">
                        <img src="/images/actividadAdultoMayor.jpg" alt="AdultM">
                        <p>Actividad Física</p>
                        <h3>Actividad física para adulto mayor</h3>
                        <br>
                        <p>Dificultad: <i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i
                                class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i
                                class="fa-regular fa-star"></i></p>
                        <br>
                        <div class="descripcionClases">
                            <p>Actividades y ejercicios encaminados a guiar al adulto mayor en una rutina constante y
                                segura donde se potencialice la práctica del deporte y se den diferentes opciones
                                físicas a la medida.
                            </p>
                            <br>
                            <p class="boton-ver-más">Leer más</p>

                        </div>

                        <p>Presencial</p>
                        <input id="cotizar" type="submit" value="Cotizar">

                    </div>
                </div>
            </section>

        </main>
        <%- include("../partials/footer") %>
            <button class="consultas">
                <i class="fa-regular fa-circle-question fa-lg" style="color: #ffffff;"></i>
                Consultas</button>
</body>

</html>