<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <link rel="stylesheet" href="/css/profileServices.css">
</head>

<body>
    <%- include("../partials/header") %>
        <main>
            <section class="container1">
                <img src="/images/instructores/entrenadora-functional.jpg" alt="imagenEntrenadora">

                <div class="profail-part1">
                    <h1>María Arias Lopera</h1>
                    <h3>Mente y Cuerpo</h3>
                    <h3>Alumnos: 38</h3>
                    <br>
                    <div class="ranking-content">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <br>
                </div>
                <ul class="profile-list-item">
                    <li>
                        <p><i class="fa-solid fa-id-card-clip"></i>  Perfil profesional María Árias</p>
                    </li>
                    
                    <li>
                        <p>Descripción perfil.</p>
                    </li>

                    <li>
                        <p><i class="fa-solid fa-star"></i> Reseñas y comentarios</p>
                    </li>

                    <li>
                        <p>Reseña.</p>
                    </li>

                    <li>
                        <p>Reseña.</p>
                    </li>

                </ul>

            </section>

            </section>
            <section class="container2">
                <div class="profile-header">
                    <h1>Sobre María Arias</h1>
                </div>
                <div class="profile__description">
                    <p> Profesional certificada en actividad física, con experiencia de 15 años en los más reconocidos
                        centros de acondicionamiento físico y en Entidades públicas del país. Mi interés es apoyar
                        procesos serios de acondicionamiento físico, en personas que deseen generar un estilo de vida
                        que les permita tener bienestar y salud, sin importar su condición física actual, su sexo o
                        edad. </p>
                </div>
                <div class="titulos">
                    <h2>Servicios</h2>
                </div>
                <br>
                <div class="services">
                    
                    <div class="clases">
                        <div class="contenedor-de-clases">
                            <a href="/product/createProduct"><button id="crearClase" class="boton-crearClase"
                                    type="button">Crear Clase</button></a>
                        </div>
                    </div>
    
                    <div class="clases">
                        <div class="contenedor-de-clases">
                            <a href="/product/createProduct"><button id="crearClase" class="boton-crearClase"
                                    type="button">Crear Clase</button></a>
                        </div>
                    </div>
    
                    <div class="clases">
                        <div class="contenedor-de-clases">
                            <a href="/product/createProduct"><button id="crearClase" class="boton-crearClase"
                                    type="button">Crear Clase</button></a>
                        </div>
                    </div>
                    </div>
    
                </div>
            </section>

        </main>
        <%- include("../partials/footer") %>
            <button class="consultas">
                <i class="fa-regular fa-circle-question fa-lg" style="color: #ffffff;"></i>
                Consultas</button>
</body>

</html>