<footer>
    <div class="footer-columna1">
        <h2>Ayuda</h2>
        <ul class="lista-footer">
            <li>Cómo convertirme en aliado</li>
            <li>Términos y condiciones</li>
            <li>Política de privacidad</li>
            <li>Seguros</li>
            <li>Preguntas y reclamos</li>
        </ul>
    </div>
    <div class="footer-columna2">
        <h2>Redes Sociales</h2>
        <div class="iconos-redes">
            <i class="fa-brands fa-instagram fa-xl" style="color: #000000;"></i>
            <i class="fa-brands fa-square-facebook fa-xl" style="color: #000000;"></i>
            <i class="fa-brands fa-tiktok fa-xl" style="color: #000000;"></i>
            <i class="fa-brands fa-spotify fa-xl" style="color: #000000;"></i>
            <i class="fa-brands fa-youtube fa-xl" style="color: #000000;"></i>
        </div>
    </div>
    <div class="footer-columna4">
        <h2>Menú</h2>
        <nav class="navbar-footer">
            <ul>
                <li><a id="actividades">Actividades</a></li>
                <li><a id="promociones">Promociones</a></li>
                <li><a id="blog">Blog</a></li>
                <li><a id="compras">Compras</a></li>
            </ul>
        </nav>
    </div>
    <div class="footer-columna3">
        <p class="cuerpos-texto">
            Copyright Grupo 2 - 2023. Todos los derechos reservados.
            Defensa de las y los consumidores. Para reclamos ingrese aquí</p>
    </div>
</footer>