<section class="side-bar">
    <div class="dropdown">
    <button class="edad" id="dropdownBtn">
        Edad
    </button>
    <div id="dropdownContent" class="dropdown-content check-edad">
        <div><input type="checkbox" name="edadcheck" value="niños">Niños</input>
            <span class="checkmark"></span>
        </div>
        <div><input type="checkbox" name="edadcheck" value="adolescentes">Adolescentes</input>
            <span class="checkmark"></span>
        </div>
        <div><input type="checkbox" name="edadcheck" value="jóvenes">Jovenes</input>
            <span class="checkmark"></span>
        </div>
        <div><input type="checkbox" name="edadcheck" value="adultos">Adultos</input>
            <span class="checkmark"></span>
        </div>
    </div>
    </div>

    <div class="dropdown">
    <button class="dificultad" id="dropdownBtn2">
        Dificultad
    </button>
    <div id="dropdownContent2" class="dropdown-content check-dificultad">
        <div><input type="checkbox" name="dificultadcheck" value="principiante">Principiante</input>
            <i class="fa-solid fa-star"></i>
            <span class="checkmark"></span>
        </div>
        <div><input type="checkbox" name="dificultadcheck" value="fácil">Fácil</input>
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
            <span class="checkmark"></span>
        </div>
        <div><input type="checkbox" name="dificultadcheck" value="intermedio">Intermedio</input>
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                class="fa-solid fa-star"></i>
                <span class="checkmark"></span>
        </div>
        <div><input type="checkbox" name="dificultadcheck" value="difícil">Difícil</input>
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                <span class="checkmark"></span>
        </div>
        <div><input type="checkbox" name="dificultadcheck" value="avanzado">Avanzado</input>
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                class="fa-solid fa-star"></i>
                <span class="checkmark"></span>
        </div>
    </div>
    </div>
</section>
