<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/styles.css">
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,300&family=Roboto:ital,wght@0,400;0,700;0,900;1,700&display=swap");
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home</title>
</head>
<body>
<header>
    <section class="mainheader-topbar">
        
        <a href="#" class="burger-menu">
            <i class="fa-solid fa-bars-staggered fa-xl" style="color: #000000;"></i>
        </a>

        <img src="/images/logo-sinfondo.png" class="logo">

        <div class="persona"><i class="fa-solid fa-user fa-xl" style="color: #000000;"></i></div>

        <div class="buscador">
            <select>
                <option >Buenos Aires</option>
                <option>Caracas</option>
                <option>Bahía Blanca</option>
                <option>Santa Fe</option>
            </select>
            <input type="text"></input>
            <div class="lupita"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>

        <section class="login">
        <div class="registro"><p>Registro</p></div>
        <div class="ingreso"><p>Ingresar</p></div>
        </section>

    </section>

    <nav class="main-navbar">
        <ul>
            <li>Actividades</li>
            <li>Promociones</li>
            <li>Blog</li>
            <li>Compras</li>
        </ul>
    </nav>
   
</header>

<main>

    <section class="slider-home">
        <div class="slider-fotos">
        <i class="fa-solid fa-caret-left fa-2xl" style="color: #000000;"></i>
        <img src="/images/JacintaYoga.JPG" class="imagen-slider1">
        <i class="fa-solid fa-caret-right fa-2xl" style="color: #080808;"></i>
        </div>
        <br>
        <div class="rutina"><p>ARMÁ TU RUTINA HOY</p></div>
        <p class="tarjeta">Enviá una tarjeta de regalo</p>
    </section>

    <section class="aliados">
        <div>
        <h4>Aliados</h4>
        <i class="fa-solid fa-caret-right fa-lg" style="color: #000000;"></i>
        </div>
        <img src="/images/ALMAYOGA.png" class="logo-aliado1" width="100px">
    </section>

    <section class="actividades">
        <h2>Encontrá tu propósito</h2>
        <p class="nuevas-actividades">Nuevas actividades</p>
        <article class="actividad-1">
        <img src="/images/escalada.JPG" class="actividades-imagen1">
        <div class="titulo-actividad">
        <h4>Escalada</h4>
        <i class="fa-solid fa-caret-right fa-lg" style="color: #000000;"></i>
        </div>
        <div class="descripcion-actividad">
            <p class="cuerpos-texto">Ideal para disfrutar de una actividad de montaña en el epicentro de la ciudad. 
            Desafiá tus límites y entrená para tu próximo destino. 
            Nuestros aliados en deportes extremos te enseñan todos los aspectos técnicos y medidas de seguridad.
            </p>
        </div>
        </article>
    </section>

    <!---Banner promocional---> 

    <section class="instructores">
        <h2>Conocé nuestros instructores</h2>
        <p class="cuerpos-texto">Desafiá tu fuerza. Ganá flexibilidad. Aprendé sobre respiración.
            Los instructores te acompañan en el proceso.</p>
        <div class="masinfo"><p class="cuerpos-texto">Más información...</p></div>
        <article class="info-instructor">
            <img src="/images/Perfil-Jacinta.JPG" class="perfil-instructor1">
            <div class="texto-instructor">
            <h3>Jacinta Mayol</h3>
            <h4>Yoga Flow</h4>
            </div>
        </article>
    </section>

</main>


<footer>
    <p class="cuerpos-texto">
        Copyright Grupo 2 - 2023. Todos los derechos reservados.
        Defensa de las y los consumidores. Para reclamos ingrese aquí</p>
</footer>

<button class="consultas">
    <i class="fa-regular fa-circle-question fa-lg" style="color: #ffffff;"></i>
    Consultas</button>
    
</body>
</html>
