<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>WorkoutEazy</title>
</head>

<body>
    <header>

    </header>
    <main>
        <section id="shopping-cart">
                <div id="div-text-product">
                <h3>Producto</h3>
                </div>
                <div id="div-product-information">
                <h3>Precio unitario</h3>
                <h3>Cantidad</h3>
                <h3>Subtotal</h3>
                </div>
            <article class="product">
                <div class="inf-product">
                    <img class="imag-prod" src="/Images/yoga-principiantes.jpg">
                    <h4>Nombre del producto</h4>
                </div>
                <div>
                    <h4>(Precio)</h4>
                    <h4>(Cantidad)</h4>
                    <h4>(Subtotal)</h4>
                </div>
                <div>
                    <i class="fa-solid fa-trash"></i>
                </div>
            </article>
        </section>
        <section id="purchase-summary">
            <div>
                <h3>Resumen de compra</h3>
            </div>
            <div>
                <h4>Cupon de descuento</h4>
            </div>
            <div>
                <input type="text" name="discount-cup"><button type="submit" name="discount-cup">Usar</button>
            </div>
            <div id="subtotal">
                <h4>Subtotal</h4>
                <h4>(Subtotal)</h4>
            </div>
            <div id="discount">
                <h4>Descuentos</h4>
                <h4>(Descuentos)</h4>
            </div>
            <div id="total">
                <h4>Total</h4>
                <h4>(Total)</h4>
            </div>
            <div>
                <button type="submit">Continuar</button>
            </div>
            <div>
                <a href="/">< seguir comprando</a>
            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>