@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,300&family=Roboto:ital,wght@0,400;0,700;0,900;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

/* Body */
h1{
    letter-spacing: 2px;
    margin: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.418);
}
body {
    background-color: white;
    font-family: 'Roboto', 'sans-serif';    
}
label {
    font-family: 'Bebas Neue';
    color: #00a170;
    font-size: 20px;
}


/* Header */

header {
    background-color: rgba(0, 161, 112, 30%);
}

/* Main */

input.lsinput.horasinput {
width: 300px;
}

.containerhoras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}

.containerhoras p {
    margin-top: 14px;
}

form {
    padding: 0px 20px 0px 20px;
}

h1 {
    font-family: "Bebas Neue";
    text-align: center;
}

form select {
    background-color: #00a170;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Bebas Neue';
    border-radius: 25px;
    letter-spacing: 2px;
}
form select:hover {
    background-color: #01c087;
}

.select-categoria {
    display:none;
}

.select-difficulty {
    display:none;
}

input {
    padding: 5px;
    margin-top: 5px;
}

.lsinput {
    width: 100%;
}

form > div{
    margin: 20px 0px;
}

.div-value-disc {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.div-value, .div-disc{
    width: 45%;
}

.div-value input {
    width: 100%;
}

.div-disc input {
    width: 85%;
}

.div-disc > p{
    display:inline-block;
}

.div-description .lfinput {
    width: 100%;
    padding: 20px;
}

.div-difficulty select {
    margin-top: 5px;
}

.select-difficulty {
    display: none;
}

.div-ages div {
    margin: 10px 0px;
}

.div-submit-button button, .div-reset-button button{
    width: 100%;
    padding: 10px;
    background-color: #00a170;
    border-radius: 8px;
    font-family: 'Bebas neue';
    color: white;
    border: none;
    font-size: 16px;
    letter-spacing: 2px;
    transition: all 0.3s
}
.div-submit-button:hover button {
    background-color: #01c087;
    transform: scale(1.01);
}

.div-reset-button {
    margin-bottom: 0px;
}

.div-reset-button button {
    background-color: #0084bd;
    border-radius: 8px;
    font-family: 'Bebas neue';
    color: white;
    border: none;
    font-size: 16px;
    letter-spacing: 2px;
}

.div-reset-button:hover button{
    background-color: #0398d8;
    transform: scale(1.01);
}

#formDelete {
    width: 100%;
    margin-bottom: 20px;
}

#formDelete button{
    width: 100%;
}

#delProd.action-button.delete {
    width: 100%;
    background-color: #d10000;
}

.right-img {
    display: none;
}

@media (min-width: 669px) {
    
}

@media (min-width: 1200px) {
    form {
        width: 50%;
    }

    #formDelete {
        width: 50%;
    }

    .right-img {
        display: inline-block;
        width: 100%;
    }

    .div-right-img {
        width: 50%;
    }   

    .form-img {
        display: flex;
    }

    #formDelete {
        width: 50%;
    }

#formDelete {
    width: 100%;
    margin-bottom: 20px;
}

#formDelete button{
    width: 100%;
}

#delProd.action-button.delete {
    width: 100%;
    background-color: #d10000;
}
}


