@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,300&family=Roboto:ital,wght@0,400;0,700;0,900;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

body {
    background-color: rgba(0, 161, 112, 30%);
    font-size: 16px;
    font-family: "Roboto";
}

/*---------HEADER----------*/

.login-header {
    box-sizing: content-box;
    border-bottom: none;
}


/*----MAIN----*/

.soy-aliado {
    font-family: 'bebas neue';
    text-align: center;
    background-color: #0084bd;
    border: 1px #0084bd solid;
    border-radius: 14px;
    color: white;
    width: 50%;
    margin-top: 30px;
    align-self: center;
}

.soy-aliado h4 {
    margin: auto;
    padding: 5px;
}

main {
    background-color: #e8e8e8;
    border-top: solid 2px #00a170;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin: 0 10px;
    padding-bottom: 30px;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.soy-cliente {
    font-family: 'bebas neue';
    text-align: center;
    background-color: #00a170;
    border: 1px #00a170 solid;
    border-radius: 14px;
    color: white;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    align-self: center;
}

.soy-cliente h4 {
    margin: auto;
    padding: 5px;
}


/* Profile */

.datos h3 {
    font-size: 16px;
    font-family: 'bebas neue';
    align-self: center;
    background-color: #00a170;
    border: 1px #00a170 solid;
    border-radius: 14px;
    color: white;
    padding: 7px;
    max-width: 200px;
}

.profile img {
    border-top-right-radius: 40px;
    margin-bottom: 10px;
}

.datos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}


.ciudad {
    font-family: 'bebas neue';
    color: #212529;
    max-width: 205px;
    text-align: center;
    align-self: center;
    margin: 5px;
}

.nombre-cliente {
    font-family: 'bebas neue';
    color: #212529;
}

.info-pago {
    background-color: rgba(92, 93, 92, 40%);
    border: 1px rgba(92, 93, 92, 40%);
    border-top-right-radius: 40px;
    padding: 12px;
    font-family: 'bebas neue';
}

.info-pago h4 {
    font-weight: 700;
}

.desplegable {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.desplegable p {
    text-align: left;
}

.datos p {
    color: #212529;
}

.datos-aliado p {
    color: #212529;
}

.botones {
    display: flex;
    justify-content: space-around;
}

.botones h4 {
    font-size: 16px;
}

.div-delete-button {
    width: 50%;
    float: right;
}
.div-delete-button {
    width: 50%;
    float: right;
}

.big-div-delete-button {
    padding: 0px 10px 0px 20px 
}

.editar {
    font-family: 'bebas neue';
    border: 1px #00a170;
    border-radius: 14px;
    background-color: #00a170;
    width: 15%;
    padding: 5px;
    margin-top: 5px;
    align-self: center;
    transition: all 0.3s ease-in-out;
}

.editar-aliado {
    font-family: 'bebas neue';
    border: 1px #0084bd;
    border-radius: 14px;
    background-color: #0084bd;
    width: 15%;
    padding: 5px;
    margin-top: 5px;
    align-self: center;
    transition: all 0.3s ease-in-out;
}

.eliminar {
    font-family: 'bebas neue';
    border: 1px rgba(252, 10, 10, 0.795);
    border-radius: 14px;
    background-color: rgba(252, 10, 10, 0.795);
    width: 15%;
    padding: 5px;
    margin-top: 5px;
    align-self: center;
    transition: all 0.3s ease-in-out;
}

.editar a {
    text-decoration: none;
    color: black;
}

.eliminar a {
    text-decoration: none;
    color: black;
}

.editar h4 {
    margin: auto;
}
.eliminar h4 {
    margin: auto;
}

.editar:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.eliminar:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* #eliminar {
    background-color: rgba(252, 10, 10, 0.795);
} */

section.login {
    display: none;
}

.profile form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile form div h3,h4,p{
    text-align: center;
    align-content: center;
}

.avatar{
    display: flex;
    align-self: center;
    justify-content: center;
}

.avatar div label, input{
    text-align: center;
}

.avatar img {
    display: none;
}

.botones {
    margin: 5px;
}


/* Banner 1 */

.aliados {
    font-family: 'bebas neue';
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.aliados div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

/* Calendario */

.calendario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.calendario {
    background-color: rgba(0, 161, 112, 30%);
    border: 1px rgba(0, 161, 112, 30%);
    border-top-right-radius: 40px;
    padding-left: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.calendario h2 {
    text-decoration: underline;
}

.desplegable-calendar {
    font-family: 'bebas neue';
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 10px;
}

.desplegable-calendar p {
    margin: auto;
}

.datos-calendar {
    font-family: 'bebas neue';
    color: #212529;
    margin-top: 20px;
}

/* Clases sugeridas */

.clases-sugeridas {
    background-color: #e8e8e8;
    border: 1px #e8e8e8 solid;
    border-top-right-radius: 40px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Busquedas relacionadas */

.container-busquedas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.busquedasRelacionadas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: "Roboto";
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
}

.clase-relacionada {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    padding: 5px;
    max-width: 95px;
    max-height: 180px;
    background-color: rgba(0, 161, 112, 30%);
    border-radius: 0 8px 0 0px;
    font-size: 12px;
    transition: 450ms;
    overflow: hidden;
}

.clase-relacionada h5 {
    font-family: 'Bebas Neue', 'cursive', 'Roboto', 'sans-serif';
    color: #0084bd;
    font-size: 15px;
    margin: 0;
}

.clase-relacionada p {
    text-align: center;
}

.clase-relacionada:hover {
    transform: scale(1.1);
}

.img-relacionada {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    max-height: 35%;
    align-items: center;
    border-radius: 0 8px 0 0px;
    margin: 2px;
}

/*---------FOOTER---------*/

.login-footer {
    background-color: whitesmoke;
}

footer h2 {
    margin: 20px 0;
}

.consultas {
    font-family: 'Bebas Neue';
    background-color: #006e52;
    border: #006e52 solid 1px;
    border-radius: 20px;
    padding: 10px;
    color: white;
    font-size: 15px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    transition: all 0.3s ease-in-out;
}

.consultas:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


@media (min-width: 669px) {
    .desplegable p {
        text-align: center;
    }

    .datos-calendar {
        background-color: #e8e8e8;
        padding: 20px;
        border: 1px #e8e8e8 solid;
        border-top-right-radius: 40px;
    }

    section.login {
        display: flex;
    }
    
}

@media (min-width: 763px) {
    .avatar,.datos {
        width: 50%;
    }

    .avatar,.datos-aliado {
        width: 50%;
    }

    .avatar img {
        display: inline-block;
        flex-grow: 1;
        width: 100%;
    }

    .profile img {
        align-self: center;
    }

    .profile {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        font-family: 'bebas neue';
        background-color: #e8e8e8;
        border: 1px #e8e8e8 solid;
        border-top-right-radius: 40px;
        padding-right: 10px;
        padding-top: 10px;
        padding-left: 20px;
        margin-top: 30px;

    }

    .profile form {
        display: flex;
        flex-direction: row;
        justify-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .profile p {
        margin: auto;
    }

    .profile img {
        border-top-right-radius: 40px;
        margin-bottom: 10px;
    }

    .profile p img {
        margin-top: 4px;
    }
   
    .datos h3 {
        font-size: 16px;
        font-family: 'bebas neue';
        text-align: center;
        align-self: center;
        background-color: #00a170;
        border: 1px #00a170 solid;
        border-radius: 14px;
        color: white;
        padding: 7px;
        max-width: 200px;
    }

    .datos-aliado h3 {
        font-size: 16px;
        font-family: 'bebas neue';
        text-align: center;
        align-self: center;
        background-color: #00a170;
        border: 1px #00a170 solid;
        border-radius: 14px;
        color: white;
        padding: 7px;
        max-width: 200px;
        margin: 5px;
    }
}

@media (min-width: 1200px) {
    .datos {
        align-self: center;
    }

    .datos-aliado {
        align-self: center;
    }

    .datos h3 {
        font-size: 16px;
        font-family: 'bebas neue';
        text-align: center;
        background-color: #00a170;
        border: 1px #00a170 solid;
        border-radius: 14px;
        color: white;

    }
    .datos-aliado h3 {
        font-size: 16px;
        font-family: 'bebas neue';
        text-align: center;
        background-color: #0084bd;
        border: 1px #0084bd solid;
        border-radius: 14px;
        color: white;

    }

    .datos p,
    h4 {
        font-size: 24px;
        font-family: 'bebas neue';
        text-align: center;
    }
    .datos-aliado p,
    h4 {
        font-size: 24px;
        font-family: 'bebas neue';
        text-align: center;
    }

    .datos-calendar {
        align-self: center;
        width: 25%;
    }

    .datos-calendar h4 {
        text-align: center;
    }

    .datos-calendar p {
        text-align: center;
        background-color: #00a170;
        border: 1px #00a170 solid;
        border-radius: 14px;
        color: white;
    }

    .calendario h2 {
        align-self: center;
    }

    .desplegable-calendar h2 {
        text-align: center;
    }

    main {
        margin-left: 60px;
        margin-right: 60px;
    }
}