@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,300&family=Roboto:ital,wght@0,400;0,700;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-size: 16px;
    font-family: "Roboto";
}

.header {
    background-color: rgba(0, 161, 112, 0%);
    border: none;
}

.main {
    background-color: whitesmoke;
}

/* Banner */

.titulo-general {
    text-align: center;
    padding: 20px 5px;
    background-image: url('/images/diseno/banner-montana1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 50%;
    z-index: 7;
    position: relative;
    height: 130px;

}

.banner-escalada {
    position: relative;
    z-index: 9;
    width: 100vw;
}

.titulo-h1 {
    opacity: 100%;
    font-family: 'Bebas Neue', 'cursive', 'Roboto', 'sans-serif';
    font-size: 18px;
    text-align: center;
    padding: 40px 20px 5px 20px;
    position: absolute;
    left: 32%;
    top: 0px;
    z-index: 10;
    margin: auto;
}

/* Producto */

.img-producto {
    display: flex;
    flex-direction: column;
    width: 282px;
    margin-left: 0px;
    padding-left: 15px;
    border-radius: 0px 40px 0px 0px;
    position: relative;
}

.container-img-producto {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}


.container-product {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-bottom: 3px grey solid;
    margin-left: 10px;
    margin-right: 10px;
}



.boton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 50px;
    border: #006e52 solid 1px;
    border-radius: 5px;
    margin: 8px 0px;
    position: relative;
    left: 15px;
    z-index: 99;
    text-decoration: none;
}

.reserva:hover {
    background-color: rgba(0, 161, 112);
    transform: scale(1.01);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border: none;
}
.editar:hover {
    background-color: #0398d8(0, 161, 112);
    transform: scale(1.01);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border: none;
}

.boton a {
    text-decoration: none;
}


.reserva, .editar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 2px;
    background-color: #006e52;
    color: white;
    font-size: 24px;
    font-family: 'Bebas Neue', 'cursive', 'Roboto', 'sans-serif';
    width: 270px;
    height: 50px;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    text-decoration: none;
}
.editar{
    background-color: #0084bd;
    text-decoration: none;
}


/* Reviews */

.reviews {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px grey solid;
    margin-left: 10px;
    margin-right: 10px;
}

.comentario {
    width: 75%;
}

textarea {
    border: 2px #006e7f solid;
    padding: 2px;
}
textarea:focus{
    border-color: #00a170;
}

.titulo-reviews {
    font-family: "Bebas Neue";
}

.boton-reviews {
    width: 150px;
    height: 40px;
    border: #006e52 solid 1px;
    border-radius: 5px;
    background-color:#006e52 ;
    color: white;
    font-size: 24px;
    font-family: "Bebas Neue";
}

.boton-reviews:hover {
    background-color: rgba(0, 161, 112);
    transform: scale(1.01);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border: none;
}


.comentario-cliente1 {
    background-color: rgba(0, 161, 112, 30%);
    border: rgba(0, 161, 112, 30%) 2px;
    border-top-right-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 75%;
}

.comentario-cliente2 {
    background-color: rgba(92, 93, 91, 30%);
    border: rgba(92, 93, 91, 30%) 2px;
    border-bottom-left-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 75%;
}

/* Busquedas relacionadas */

.busquedash6 {
    text-align: center;
    font-family: "Bebas Neue";
    font-weight: 800;
    font-size: 30px;
}

.busquedas-relacionadas {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.clasesAliado {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.clasesTitulo h3 {
    text-align: center;
    
}

.clases {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contenedor-de-clases {
    border: 1px solid #006ebd;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-left: 8px;
    padding: 5px;
    border-radius: 0 8px 0 0px;
    font-size: 12px;
    transition: 450ms;
    overflow: hidden;
    width: 300px;
    height: 350px;
    margin-top: 20px;
    margin-right: 20px;
}

.boton-crearClase {
    width: 100%;
    border: 1px #006ebd;
    border-radius: 14px;
    background-color: #006ebd9c;
    color: white;
    padding: 5px;
    margin: auto;  
    transition: 0.5s;
    margin-bottom: 10px;
    font-size: 20px;
}

button:hover {
    background-color: #0084bd;
    color: white;
    transform: scale(1.1);
}

/* Texto actividad */

.texto-actividad {
    text-align: center;
    margin: auto;
    padding: 4px;

}

.texto-producto-container {
    margin-bottom: 30px;
    
}

#nombreActividad {
    font-family: 'Bebas Neue', 'cursive', 'Roboto', 'sans-serif';
    font-size: 30px;
    margin-top: 20px;
}

.h3 {
    font-family: 'Bebas Neue', 'cursive', 'Roboto', 'sans-serif';
}

.seccion-texto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    text-align: center;
    align-items: center;
}

.descripcion-actividad {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.titulo-descripcion {
    font-weight: 800;
    font-size: 20px;
}

.info-container {
    border-bottom: 3px grey solid;
}

.descripcion-actividad p {
    display: inline-block;
}

/* Banner promocional */

.banner-promocional {
    background-color: black;
    min-height: 200px;
    color: whitesmoke;
    border: 10px #006e7f solid;
}

.texto-banner p {
    color: whitesmoke;
}

@keyframes aumentar {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}

.animacion-regalo {
    padding: 20px;
    width: 32px;
}

.animacion-regalo,

.descuento {
    animation: aumentar 2s infinite alternate;
}

.texto-banner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.banner-promocional img {
    display: none;
}

/*FOOTER*/

.footer {
    border-top: rgb(226, 226, 226) solid 0.5px;
    border-radius: 5% 5% 0 0;
}

@media (min-width: 669px) {

    .mainheader-topbar .buscador {
        width: 50%;
    }

    .titulo-h1 {
        opacity: 100%;
        font-family: 'Bebas Neue', 'cursive', 'Roboto', 'sans-serif';
        font-size: 25px;
        text-align: center;
        padding: 30px 20px 5px 20px;
        position: absolute;
        left: 45%;
        top: 0px;
        z-index: 10;
        margin: auto;
    }

    /* Actividades */

    .container-product {
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .texto-producto-container {
        display: flex;
        flex-direction: column;
    }

    .descripcion-actividad {
        max-width: 100%;
    }

   

    /* Relacionadas */

    .busquedasRelacionadasH6 {
        margin-top: 20px;
    }

    .busquedasRelacionadas {
        justify-content: center;

    }

    /* Banner promocional */

    .texto-banner {
        width: 70%;
        padding: 10px;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .banner-promocional {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        padding: 10px;
    }

    .banner-promocional img {
        display: block;
        height: 200px;

    }

    .descuento {
        font-size: 40px;
    }

    .texto-banner h3 {
        font-size: 30px;
    }

    .texto-banner p {
        font-size: 20px;
    }

    /* FOOTER */

    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        gap: 10px;
        padding-left: 50px;
    }

    .footer-columna1 {
        width: 180px;
    }

    .footer-columna2 {
        width: 180px;
    }

    .footer-columna4 {
        width: 180px;
    }

    .footer-columna3 {
        align-self: left;
        width: 100%;
    }

    .foto {
        height: 70%;
    }

    .nav-filtros select {
        width: 20%;
    }

    main {
        margin-bottom: 60px;
    }

    .actividad-ejemplo .descripcion-actividad {
        border-top: 0px;
    }

    .leermas {
        display: none;
    }

}

@media (min-width: 1200px) {
    
    .header {
        width: 100vw;
    }

    .imagen {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

    }

    .body {
        margin-top: 200px;
    }

    .busquedasRelacionadas {
        justify-content: center;
        gap: 10px;
    }

    .busquedasRelacionadasH6 {
        margin: 20px 0px;
        font-size: 20px;
    }

    .clase-relacionada {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin-left: 8px;
        padding: 5px;
        max-width: 180px;
        max-height: 220px;
        background-color: rgba(0, 161, 112, 30%);
        border-radius: 0 8px 0 0px;
        font-size: 12px;
        transition: 450ms;
    }

    .dificultad {
        margin-left: 25px;
        margin-top: 0px;
    }

    .container-img-producto {
        margin-left: 30%;
    }

    /* Banner promocional */

    .texto-banner {
        width: 70%;
        padding: 10px;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }

    .descuento {
        font-size: 40px;
        margin-left: 100px;
    }

    .texto-banner p {
        font-size: 20px;
        margin-left: 10px;
        margin-top: 0;
    }

}
