@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,300&family=Roboto:ital,wght@0,400;0,700;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-size: 16px;
    font-family: "Roboto";
}

main {
    margin-bottom: 40px;
}
.cuerpo{
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
}
.fa-solid, .fa-star{
    display: none
}
.titulo-general {
    text-align: center;
    padding: 20px 5px;
    background-image: url('/images/diseno/banner-baile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 50%;
    z-index: 7;
    position: relative;
    height: 82px;
}

.banner {
    position: relative;
    z-index: 9;
}

.titulo-h1 {
    opacity: 100%;
    text-align: center;
    padding: 20px 5px;
    position: absolute;
    left: 40%;
    top: 0px;
    z-index: 10;
    margin: auto;
    font-family: "Bebas neue";
}

/* Filtros */

/* Filtros generales */

.nav-filtros {
    background-color: #00a170;
    padding: 20px;
    margin: 20px 30px;
    text-align: center;
}

.nav-filtros select {
    border: none;
    font-size: 20px;
    text-align: left;
    appearance: none;
    background: none;
    background-image: url('/images/diseno/caret-down-solid.svg');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 20px;
    width: 30%;
}

select:focus {
    outline: none;
}

/* Filtros tipos de actividad */

.filtros-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 2px #e8e8e8 solid;
    margin: 5px 15px;
    padding: 2px;
}

.contenedor-check {
    border: 2px #e8e8e8 solid;
    border-radius: 14px;
    margin: 5px;
    width: 150px;
    text-align: center;
}

/* Side-bar */
.side-bar form {
    width: 20vw;
    font-family: 'bebas neue';
    color: #5c5d5b;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
    
}
.button-filter {
    border: #006e52 solid 1px;
    border-radius: 5px;
    z-index: 99;
    color: white;
    background-color: rgba(0, 161, 112);
    font-size: 16px;
    font-family: 'Bebas Neue', 'cursive', 'Roboto', 'sans-serif';
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}


/* menu drop down */

.dropdown {
    position: relative;
    display: inline-block;
}

#dropdownBtn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#dropdownBtn:hover {
    background-color: white;
    color: #3498db;
    border: 1px #3498db solid;
}

#dropdownBtn2 {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#dropdownBtn2:hover {
    background-color: white;
    color: #3498db;
    border: 1px #3498db solid;
}

.dropdown-content {
    display: none;
    /*position: absolute;*/
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    /*z-index: 1;*/
}

/* Actividades */

/* Actividades cargadas */

.actividades-contenedor {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
    margin: 0 20px;
    gap: 30px;
}

.actividad-ejemplo:hover {
    background-color: rgba(0, 132, 189, 30%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Foto */

.foto {
    position: relative;
}

.etiqueta-actividad {
    background-color: white;
    width: 60%;
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    padding-top: 5px;
}

.etiqueta-actividad p {
    height: 24px;
    margin: auto;
}

.actividad-ejemplo img {
    width: 100%;
}

.actividad-ejemplo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

/* Texto actividad */

.texto-actividad {
    text-align: center;
    margin: auto;
    padding: 4px;
}

.info h3 {
    font-family: "Bebas neue";
}

.seccion-texto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    text-align: center;
}

.descripcion-actividad {
    border-top: 3px grey solid;
    overflow: hidden;
    width: 90%;
    min-height: 150px;
}

/* Detalle botón */

.bebas {
    font-family: 'Bebas Neue';
}

.ver-detalle a button {
    border: #006e52 solid 1px;
    border-radius: 5px;
    z-index: 99;
    color: white;
    background-color: rgba(0, 161, 112);
    font-size: 16px;
    font-family: 'Bebas Neue', 'cursive', 'Roboto', 'sans-serif';
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}

@media (min-width: 669px) {

    /* Footer */

    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        gap: 10px;
        padding-left: 50px;
    }

    .footer-columna1 {
        width: 180px;
    }

    .footer-columna2 {
        width: 180px;
    }

    .footer-columna4 {
        width: 180px;
    }

    .footer-columna3 {
        align-self: left;
        width: 100%;
    }

    main {
        margin-bottom: 60px;
    }

    /* Filtros */

    .nav-filtros select {
        width: 20%;
    }

    .filtros-container {
        justify-content: center;
    }

    /* Actividades */

    .actividad-ejemplo {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
        align-items: flex-start;
    }

    .actividades-contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

@media (min-width: 763px) {

    /* Actividades */

    .actividades-contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    /* Filtros */

    .nav-filtros select {
        width: 10%;
        font-size: 24px;
    }

    /* Titulo */

    .titulo-h1 {
        opacity: 100%;
        text-align: center;
        padding: 20px 5px;
        position: absolute;
        left: 50%;
        top: 0px;
        z-index: 10;
        margin: auto;
    }
}

@media (min-width: 1200px) {

    /* Actividades */

    .actividades-contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .actividad-ejemplo {
        justify-content: space-around;
    }

    .titulo-h1 {
        opacity: 100%;
        text-align: center;
        padding: 35px 5px;
        position: absolute;
        left: 45%;
        top: 0px;
        z-index: 10;
        margin: auto;
    }

    .titulo-general {
        height: 130px;
    }

}