@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,300&family=Roboto:ital,wght@0,400;0,700;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {

    background-color: rgba(0, 161, 112, 30%);
}  
.registo a {
    text-decoration: none;
}
main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 12px;
    margin-right: 12px;
    background-color: whitesmoke;
    border-top: solid 2px #00a170;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.container-1 {
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.container-1 img {
    display: flex;
    width: 75%;
  justify-content: center;
  border-radius: 16%;
  box-shadow: 9px 12px 2px 1px #00a17179;
}

.container-2 {
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #00a170;
    background-color: rgba(0, 161, 112, 30%);
    border-top-right-radius: 25px;
    margin-top: 20px;
    width: 45vw;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin-bottom: 30px;
}

h2 {
    font-family: 'Bebas Neue';
    letter-spacing: 2px;
    font-size: 30px;
    margin-top: 15px;
    padding: 15px;
    text-align: center;
    color:#006e52;
}

.redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
    flex-wrap: nowrap;
}
.redes-sociales button:hover {
    transform: scale(1.2);
}
#facebook {
    background-color: #1f8aff;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 50%;
    border: 0;
margin-right: 5px;
 }

#apple {
    background-color: #838786;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 50%;
    border: 0;
    margin-right: 5px;
}

#google-logo {
    background-color: #d55140;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 50%;
    border: 0;
}

.botones {
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

.button-r {
    border: 1px solid #00a170;
    border-radius: 18px;
    font-family: 'Bebas Neue';
    font-size: 20px;
    letter-spacing: 3px;
    padding: 8px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: #0084bd;
    color: white;
}

.grupo-de-registros {
    display: flex;
    flex-direction: column;
    padding: 2%;

}
.dos-registros {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.grupo-indicarSexo {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin: 3px;
    padding: 2%;
}
.grupo-indicarSexo  input {
    margin-right: 12px;
}
.grupo-indicarSexo  label {
    margin-right: 5px;
}


.input-selecto {
    text-align: center;
    border-radius: 10px;
    border: 1px solid #00a170;
    padding: 2%;
}

.option {
    padding: 2%;
    border-radius: 8px;
    border: 1px solid #00a170;
}

.boton {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.boton input {
    background-color: #006e52;
    font-family: 'Bebas Neue';
    letter-spacing: 2px;
    font-size: 20px;
    color: white;
    padding: 8px;
    border: 1px solid #00a170;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
}

.boton input:hover {
    background-color: #0084bd;
    color: white;
    transform: scale(1.1);
}

h3 {
    text-align: center;
    margin: 15px;
}

p {
    text-align: center;
    margin: 15px;
    margin-bottom: 20px;
}

.condiciones {
    padding: 2%;
    font-size: 10px;
}
        /*--------------------------------------footer---------------------------------------------------------------------*/

 footer {
    background-color: whitesmoke;
    margin: 0;
 }       
/*------------------------------------------------------- Media Queries-----------------------------------------------------------*/
@media (min-width: 669px) {
    .ingreso {
        width: 70px;
        height: 40px;
        border-radius: 14px;
        border: 1px solid #e8e8e8;
        background-color: #e8e8e8;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 4px 8px;
    }
}


@media (max-width: 669px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        margin: 12px;
    }

    .container-1 {
        display: flex;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-left: 20px;
    }
    .container-1 img {
        display: flex;
        width: 55%;
        justify-content: center;
        align-items: center;
    }

    .container-2 {
        display: flex;
        width: 92vw;
        padding-top: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    .dos-registros {
        display: flex;
        font-size: 15px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
}