@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,300&family=Roboto:ital,wght@0,400;0,700;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {

    background-color: rgba(0, 161, 112, 30%);
}  
.registo a {
    text-decoration: none;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 12px;
    margin-right: 12px;
    background-color: whitesmoke;
    border-top: solid 2px #00a170;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.container-1 {
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.container-1 img {
    display: flex;
    width: 75%;
  justify-content: center;
  border-radius: 16%;
  box-shadow: 9px 12px 2px 1px #00a17179;
}

.container-2 {
    display: flex;
    width: 40vw;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #00a170;
    background-color: rgba(0, 161, 112, 30%);
    border-top-right-radius: 25px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin-bottom: 30px;
}

h2 {
    font-family: 'Bebas Neue';
    letter-spacing: 2px;
    font-size: 30px;
    margin-top: 15px;
    padding: 15px;
    text-align: center;
    color:#006e52;
}

.redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
    flex-wrap: nowrap;
}
.redes-sociales button:hover {
    transform: scale(1.2);
}
#facebook{
    background-color: #1f8aff;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 50%;
    border: 0;
margin-right: 5px;

 }

#apple {
    background-color: #838786;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 50%;
    border: 0;
    margin-right: 5px;
}

#google-logo {
    background-color: #d55140;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 50%;
    border: 0;
}

.botones {
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

.button-r {
    border: 1px solid #00a170;
    border-radius: 18px;
    font-family: 'Bebas Neue';
    font-size: 20px;
    letter-spacing: 3px;
    padding: 8px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: #0084bd;
    color: white;
}

.grupo-de-registros {
    display: flex;
    flex-direction: column;
    padding: 2%;

}
.dos-registros {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.grupo-indicarSexo {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    justify-content: center;
    margin: 3px;
    padding: 2%;
}
.grupo-indicarSexo  input {
    margin-right: 12px;
}
.grupo-indicarSexo  label {
    margin-right: 5px;
}


.input-selecto {
    text-align: center;
    border-radius: 10px;
    border: 1px solid #00a170;
    padding: 2%;
}

.option {
    padding: 2%;
    border-radius: 8px;
    border: 1px solid #00a170;
}

.boton {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.boton input {
    background-color: #006e52;
    font-family: 'Bebas Neue';
    letter-spacing: 2px;
    font-size: 20px;
    color: white;
    padding: 8px;
    border: 1px solid #00a170;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
}

.boton input:hover {
    background-color: #0084bd;
    color: white;
    transform: scale(1.1);
}

h3 {
    text-align: center;
    margin: 15px;
}

p {
    text-align: center;
    margin: 15px;
    margin-bottom: 20px;
}

.condiciones {
    padding: 2%;
    font-size: 10px;
}

/*----------validaciones--------------*/

.text-danger {
    color: rgb(184, 32, 32);
    margin: 5px;
}

input .input-selecto .is-invalid {
    border: 3px rgb(184, 32, 32) solid;
}

        /*--------------------------------------footer---------------------------------------------------------------------*/

 footer {
    background-color: whitesmoke;
    margin: 0;
 }       

 /*-----------------------------------------------body RegistroAlidos---------------------------------------------------------*/

 .mainRegister2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 12px;
    margin-right: 12px;
    background-color: whitesmoke;
    border-top: solid 2px #00a170;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
 }
 .container-1A {
    display: flex;
    width: 40vw;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px 20px 10px;
}
 
 .container-1A img {
    display: flex;
    width: 100%;
  justify-content: center;
  border-radius: 16%;
  box-shadow: 9px 12px 2px 1px #0084bd;
}
.introducción h2 {
    font-family: Bebas+Neue;
    font-size: 20px;
}

.part2 {
    display:flex;
    width: 60%;
    display: flex;
  flex-direction: column;
    text-align: center;
    padding: 20px;   
}
.datos1 p {
    display:flex;
    flex-direction: column ;
    text-align: justify;
}
.container-2A {
    display: flex;
    width: 45vw;
    flex-direction: column;
    justify-content: initial;
    border: 1px solid #00a170;
    background-color: #0084bd6c;
    border-top-right-radius: 40px;
   margin: 15px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin-bottom: 30px;
}


.container-2A h2{
    font-family: 'Bebas Neue';
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: 15px;
    padding: 15px;
    text-align: justify;
}


.centrar {
    display: flex;
    justify-content: space-around;
align-items: center;
}
.grupo-de-registrosPerfil {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
 }

.grupo-de-registrosPerfil option {
   text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .grupo-de-registrosPerfil select {
    padding: 2%;
    border-radius: 10px;
    border: solid 1px #006e52;
    
 }
 
 .grupo-de-registrosA1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px;
    display: flex;
    gap: 20px 8px;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grupo-de-registrosA1 label { 
    align-items: center;
    text-align: center;

}
.grupo-de-registrosA1 select {
    
    padding: 4.5%;
    border-radius: 10px;
    border: solid 1px #006e52;
}
 

.grupo-de-registrosA1 input {
    width: 100%;
    padding: 4%;
    border-radius: 10px;
    border: solid 1px #006e52;
    text-align: center;
}

.grupo-de-registrosA1 input:focus {
    outline: none;
    border: solid 2px #00a170;
}


.grupo-de-registrosA1 option {
    text-align: center;
    width: 150%;
     display: flex;
     justify-content: center;
     align-items: center;
  }
  .grupo-de-registrosEntidad {
    text-align: center;
  }
.grupo-de-registrosEntidad input {
    width: 60%;
    padding: 2%;
    border-radius: 10px;
    border: solid 1px #006e52;
    text-align: center;
}
.grupo-de-registrosEntidad input:focus {
    outline: none;
    border: solid 2px #00a170;
}
.grupo-de-registrosIdentificación {
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px;
    display: flex;
    gap: 35px;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.grupo-de-registrosIdentificación select {
    width: 130%;
    padding: 7%;
    border-radius: 10px;
    border: solid 1px #006e52;
}
.grupo-de-registrosIdentificación input {
    width: 100%;
    padding: 4%;
    border-radius: 10px;
    border: solid 1px #006e52;
    text-align: center;
}
.grupo-de-registrosIdentificación input:focus {
    outline: none;
    border: solid 2px #00a170;
}


.grupo-de-registrosNIde input {
    width: 120%;
    padding: 4%;
    border-radius: 10px;
    border: solid 1px #006e52;
    text-align: center;
}

.grupo-de-registrosNIde input:focus {
    outline: none;
    border: solid 2px #00a170;
}

.grupo-de-registrosDocumentos {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.grupo-de-registrosDocumentos input {
    padding: 1%;
    border-radius: 10px;
    border: solid 1px #006e52;
    text-align: center;
    background-color: #fff;
}
.grupo-de-registrosDocumentos input:focus {
    outline: none;
    border: solid 2px #00a170;
}

.grupo-de-registrosUsuarios {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.grupo-de-registrosUsuarios input {
    padding: 1.3%;
    width: 50%;
    border-radius: 10px;
    border: solid 1px #006e52;
    text-align: center;
}
button, input, optgroup, select, textarea {
    background-color: white;
}
  
 .grupo-de-registrosUsuarios input:focus {
    outline: none;
    border: solid 2px #00a170;
}





/*------------------------------------------------------- Media Queries-----------------------------------------------------------*/
@media (min-width: 669px) { 
.registro {
    width: 80px;
    height: 40px;
    border-radius: 14px;
    border: 0px;
    background-color: rgba(0,0,0,0%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
}
}

@media (min-width: 669px) {
    .ingreso {
        width: 70px;
        height: 40px;
        border-radius: 14px;
        border: 1px solid #e8e8e8;
        background-color: #e8e8e8;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 4px 8px;
    }
}


@media (max-width: 669px) {
    main {
        display: flex;
        justify-content: center;
        align-content:center ;
        flex-wrap: wrap;
        margin: 12px;
    }
    .mainRegister2 {
        display: flex;
        width: 94vw;
        flex-direction: column;
        justify-content: center;
        align-content:center ;
        flex-wrap: wrap;
        margin: 12px;
    }
    .introducción {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .part2 {
        display: flex;
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
    .container-1 {
        display: flex;
        width: 110vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-left: 20px;
    }
    .container-1 img {
        display: flex;
        width: 60%;
        justify-content: center;
        align-items: center;
    }

    .container-2 {
        display: flex;
        width: 80vw;
        flex-direction: column;
        align-items: center;
        border: 1px solid #00a170;
        background-color: rgba(0, 161, 112, 30%);
        border-top-right-radius: 25px;
        margin-top: 20px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin-bottom: 30px;
        font-size: 13px;
    }
    
    .container-2A {
        display: flex;
        width: 80vw;
        flex-direction: column;
        justify-content: initial;
        border: 1px solid #00a170;
        background-color: #0084bd6c;
        border-top-right-radius: 40px;
        margin: 15px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin-bottom: 30px;
        font-size: 12px;
    }
    .datos1 p {
        display:flex;
        flex-direction: column ;
        text-align: justify;
        font-size: 15px;
    }
    .introducción h2 {
        font-size: 16px;
    }

    .dos-registros {
        display: flex;
        font-size: 15px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
}

@media (max-width: 799px) {
    .container-1A {
        display: flex;
        width: 80vw;
        flex-direction: column;
        align-items: center;
        margin: 20px 10px 20px 10px;
    }
    .container-1A img {
        display: flex;
        width: 80%;
      justify-content: center;
      border-radius: 16%;
      box-shadow: 9px 12px 2px 1px #0084bd;
    }

    .container-2A {
        display: flex;
        width: 80vw;
        flex-direction: column;
        justify-content: initial;
        border: 1px solid #00a170;
        background-color: #0084bd6c;
        border-top-right-radius: 40px;
        margin: 15px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin-bottom: 30px;
    }
}