@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,300&family=Roboto:ital,wght@0,400;0,700;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    background-color: whitesmoke;
}
.banner-escalada {
    position: relative;
    z-index: 9;
    width: 100vw;
}
.titulo-general {
    text-align: center;
    padding: 20px 5px;
    background-image: url('/images/diseno/banner2 profileAliados.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 50%;
    z-index: 7;
    position: relative;
    height: 310px;

}
.titulo-h1 {
    opacity: 100%;
    font-family: 'Bebas Neue', 'cursive', 'Roboto', 'sans-serif';
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    padding: 225px 20px 5px 20px;
    position: absolute;
    left: 32%;
    top: 0px;
    z-index: 10;
    margin: auto;

}

.contenedorGlobal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px;
    background-color: whitesmoke;
   
}
.container1-instructor {
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.contenedorImagenEntrenador {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
   
}

.img-entrenador {
    display: flex;
    flex-direction: column;
    width: 282px;
    margin-left: 0px;
    border-radius: 0px 40px 0px 0px;
    position: relative;
    /*border: solid 3px #0084bd;*/
    box-shadow: 0px 10px 10px #006ebd;
}
.container2-datos {
    display: flex;
    width: 40vw;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.datosClasAlum {
    display: flex;
    flex-direction: wrap;
    justify-content: space-around;
margin-bottom: 15px;
}
.profile__description {
    text-align: left;
    border-bottom: 2px solid #006e52;
    border-radius: 0;
    padding: 0.5rem 0;
    margin: 0 0 1.5rem;
}