<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <link rel="stylesheet" href="/css/userProfileAliados.css">
</head>

<body>
    <%- include("../partials/header") %>
    <main class="main">
        <div class="banner-escalada">
            <section class="titulo-general">
            </section>
            <section class="titulo-h1">
                <h1>BIENVENID@ A NUESTRO EQUIPO DE ALIADOS</h1>
            </section>
        </div>
<section class="contenedorGlobal">
        <section class="container1-instructor">
            <div class="contenedorImagenEntrenador">
                <img src="/images/instructores/entrenador-gym.jpg" alt="imagenGim" class="img-entrenador">
            </div>
            <div>
                <h2>Pablo O'connor</h2>
                <h3>Personal trainer</h3>
            </div>
        </section>
        <section class="container2-datos">
            <div class="datosClasAlum">
                <h4>Clases: 3<h4>  
                    <br>
                <h4>Alumnos: 38<h4>
            </div>
            <div>
                <p>Ciudad</p>
                <p>Dirección</p>
            </div>
            <div>
                <h2>Perfil Profesional</h2>
            </div>
            <div class="profile__description">
                <p> Profesional certificado en actividad física, con experiencia de 15 años en los más reconocidos
                    centros de acondicionamiento físico y en Entidades públicas del país. Mi interés es apoyar
                    procesos serios de acondicionamiento físico, en personas que deseen generar un estilo de vida
                    que les permita tener bienestar y salud, sin importar su condición física actual, su sexo o
                    edad. </p>
            </div>
        </section>
    </section>
    </main>

</body>
</html>
