<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
</head>

<body>
    <%- include("../partials/header") %>
    <main>

        <section class="slider-home">

            <div class="slider-fotos">
                <i class="fa-solid fa-caret-left fa-2xl" style="color: #000000;"></i>
                <img src="/images/JacintaYoga.JPG" class="imagen-slider1">
                <img src="/images/JacintaYoga2.JPG" class="imagen-slider2">
                <i class="fa-solid fa-caret-right fa-2xl" style="color: #080808;"></i>
            </div>

            <br>

            <button class="rutina">
                <p>ARMÁ TU RUTINA HOY</p>
            </button>
            <p class="tarjeta">Enviá una tarjeta de regalo</p>

        </section>

        <section class="aliados">
            <div>
                <h4>Aliados</h4>
                <i class="fa-solid fa-caret-right fa-lg" style="color: #000000;"></i>
            </div>
            <img src="/images/ALMAYOGA.png" class="logo-aliado1" width="100px">
        </section>

        <section class="actividades">
            <h2>Encontrá tu propósito</h2>
            <p class="nuevas-actividades">Nuevas actividades</p>

            <div class="ejemplos-actividades">
                <a href="/productDetail"><article class="actividad-1">
                <img src="/images/escalada copy.JPG" class="actividades-imagen1">
                <div class="titulo-actividad">
                    <h4>Escalada</h4>
                    <i class="fa-solid fa-caret-right fa-lg" style="color: #000000;"></i>
                </div>
                <div class="descripcion-actividad">
                    <p class="cuerpos-texto">Ideal para disfrutar de una actividad de montaña en el epicentro de la
                        ciudad.
                        Desafiá tus límites y entrená para tu próximo destino.
                        Nuestros aliados en deportes extremos te enseñan todos los aspectos técnicos y medidas de
                        seguridad.
                    </p>
                </div>
            </article></a>

            <article class="actividad-2">
                <img src="/images/gimnasio.JPG" class="actividades-imagen2">
                <div class="titulo-actividad">
                    <h4>Gym</h4>
                    <i class="fa-solid fa-caret-right fa-lg" style="color: #000000;"></i>
                </div>
                <div class="descripcion-actividad">
                    <p class="cuerpos-texto">Disciplina a tu medida para ganar fuerza y masa musuclar. 
                        Sentite fuerte y capaz, potenciá las posibilidades que ofrece tu cuerpo. 
                        Rutinas a medida.
                    </p>
                </div>
            </article>

            <article class="actividad-3">
                <img src="/images/functional.JPG" class="actividades-imagen3">
                <div class="titulo-actividad">
                    <h4>Functional</h4>
                    <i class="fa-solid fa-caret-right fa-lg" style="color: #000000;"></i>
                </div>
                <div class="descripcion-actividad">
                    <p class="cuerpos-texto">Entretenida actividad para todos los días. 
                        Mové todo el cuerpo con nuestros grupos y hacé nuevos amigos! 
                        Grupos disponibles para todas las edades.
                    </p>
                </div>
            </article>

            <article class="actividad-4">
                <img src="/images/yoga-airelibre.JPG" class="actividades-imagen4">
                <div class="titulo-actividad">
                    <h4>Yoga al aire libre</h4>
                    <i class="fa-solid fa-caret-right fa-lg" style="color: #000000;"></i>
                </div>
                <div class="descripcion-actividad">
                    <p class="cuerpos-texto">Una forma distinta de disfrutar el Yoga más flexible. 
                        Todos los domingos cambiamos locación conectando con lo que nos rodea,
                        tanto el lugar como con las demás personas. Buscá la conexión con tu cuerpo y tu alma.
                    </p>
                </div>
            </article>
            </div>

        </section>

        <section class="banner-promocional">
            <div class="texto-banner">
            <h2 class="descuento">20% OFF</h2>
            <h3>en tu primera compra</h3>
            <p>hacé click aquí para obtener el cupón de descuento</p>
            <div class="animacion-regalo"><i class="fa-solid fa-gift fa-2xl" style="color: #199eb3;"></i></div>
            </div>
            <img src="/images/editworkouteasy2-b.png" class="imagenbanner">
        </section>

        <section class="instructores">

            <h2>Conocé nuestros instructores</h2>

            <p class="cuerpos-texto">Desafiá tu fuerza. Ganá flexibilidad. Aprendé sobre respiración.
                Los instructores te acompañan en el proceso.</p>

            <div class="masinfo">
                <p>Más información...</p>
            </div>

            <div class="ejemplos-instructores">
            <article class="info-instructor">
                <img src="/images/Perfil-Jacinta.JPG" class="perfil-instructor1">
                <div class="texto-instructor">
                    <h3>Jacinta Mayol</h3>
                    <h4>Yoga Flow</h4>
                </div>
            </article>

            <article class="info-instructor">
                <img src="/images/entrenador-boxeo.jpg" class="perfil-instructor2">
                <div class="texto-instructor">
                    <h3>Jaime Hernandez</h3>
                    <h4>Boxeo</h4>
                </div>
            </article>

            <article class="info-instructor">
                <img src="/images/entrenador-gym.jpg" class="perfil-instructor3">
                <div class="texto-instructor">
                    <h3>Pablo O'connor</h3>
                    <h4>Personal trainer</h4>
                </div>
            </article>

            <article class="info-instructor">
                <img src="/images/entrenadora-functional.jpg" class="perfil-instructor4">
                <div class="texto-instructor">
                    <h3>Maria Arias</h3>
                    <h4>Profesora de gimnasia functional</h4>
                </div>
            </article>
            </div>

        </section>

    </main>
    <%- include("../partials/footer") %>
    <button class="consultas">
        <i class="fa-regular fa-circle-question fa-lg" style="color: #ffffff;"></i>
        Consultas</button>

</body>

</html>